<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlServerConnect" value="Data Source=127.0.0.1,1433;Initial Catalog=Pocker-V2;User Id=sa;Password=net,123"/>
    <!--初始至零同步标志 0为制零同步 1是接着同步-->
    <add key="SynchFlag" value="0"/>
    <!--同步的起始时间-->
    <add key="LostDataLastTimeSynchData" value="2018-10-24 00:00:00" />
    <add key="PeriodNumber" value="20181024001" />
    <!--全位多少期不出计入统计-->
    <add key="IntLostAllWeiSet" value="5"/>

    <!--单双多少位算长顺-->
    <add key="dsShun" value="4"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
