<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--数据库连接串-->
    <add key="SqlServerConnect" value="Data Source=127.0.0.1,1433;Initial Catalog=Pocker-V3;User Id=sa;Password=net,123"/>
    <!--<add key="SqlServerConnect" value="Data Source=47.100.169.100,8433;Initial Catalog=Pocker-V3;User Id=sa;Password=netinfo,123"/>-->
    <!--数据库连接串-->
    <!-- 08 vip请求串-->
    <add key="Url08" value="http://08mvp.com/result/ssc_noticle.php?sdate={0}{1}sdate1={2}" />
    <!-- 08 vip请求串备用1-->
    <add key="Url08_bak1" value="http://1808018.com/result/ssc_noticle.php?sdate={0}{1}sdate1={2}" />
    <!-- 08 vip请求串备用1-->
    <add key="Url08_bak2" value="http://vip2.5308vip.com/result/ssc_noticle.php?sdate={0}{1}sdate1={2}" />
    <!--最后一次同步数据的日期-->
    <add key="LastTimeSynchData" value="2019-10-08 00:00:00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--1启用 0 不启用,1启用-->
    <add key="IsSetUpCook" value="1"/>
  </appSettings>
</configuration>